.about-title {
  color:#043053;
  margin-bottom: -8px;
}

.line {
    background-color:#043053;
    width: 80px;
    height: 5px;
}

.ausbildung strong,
.erfahrung strong{
    color:#043053;
}

.desc-title {
    margin-top: 20px;
}
