.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media #{$md-layout} {
        margin: 0;
    }
}

.service-container {
    margin-top: 8rem;
    width: 100%;
    height: 100vh;
    background-color: #b2d6e2;
}

.header-title {
    margin-bottom: 1.875rem;
    text-align: center;
}

.header-title h2 {
    color: #043052;
}

.therapy-img-wrapper {
    display: flex;
}

.service-one-wrapper{
    @media #{$md-layout} {
        margin: 0 -40px;
    }
}

.therapy-services {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.therapy-services div {
    margin: 0 2rem;
}

.m-lymph {
  width: 30vw;
}

.m-lymph h3 {
 color: #043052;
}

.mld ul li {
  font-size: 1.2em;
}

.mld h3 {
  color: #043052;
}
