.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-container {
    margin-top: 8rem;
    width: 100%;
    height: auto;
    background-color: #b2d6e2;
}

.header-title {
    margin-bottom: 1.875rem;
    text-align: center;
}

.header-title .service-title {
    color: #043052;
    margin-top: 5rem;
}

.therapy-img-wrapper {
    display: flex;
    @media #{laptop-to-mobile} {
        width: 100%;
    }
}

.service-one-wrapper{
    @media #{$md-layout} {
        margin: 0 -40px;
    }
}

.therapy-services {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.therapy-services div {
    margin: 0 6rem;
}

.m-lymph {
  width: 30vw;
}

.m-lymph h3 {
 color: #043052;
}

.mld ul li {
  font-size: 1.2em;
}

.mld h3 {
  color: #043052;
}

.img-s-wrapper {
    margin: 0 20px;
    border: 4px solid #043053;
    border-radius: 50%;
    overflow: hidden;
}

.img-service {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-position: center;
    transition: all .5s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}

.pillars {
   display: flex;
   list-style-type: none;
   color: #043052;
   font-weight: bold;
   margin-left: -50px;
}

.pillars li {
    margin: 0 .5rem;
}

@media screen and (max-width: 1200px) {
    .therapy-services {
      flex-direction: column;
    }

    .m-lymph, .mld {
        width: 100%;
    }

    .m-lymph h3 {
        font-size: 1.5em;

    }
    .m-lymph li {
      font-size: 1.1em;
      width: 80%;
    }
    .pillars {
        width: 80%;
    }

    .mld h3 {
        font-size: 1.5em;
    }
    .mld ul li {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 960px) {
    .service-title {

    }
    .service-title {
        margin-top: 5rem;
    }
    .service-container {

        height: fit-content;
    }
    .service-title {
      font-size: 3em;
    }
    .img-service{
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        background-position: center;
    }

    .therapy-services {
        width: 100%;
    }

    .m-lymph, .mld {
        width: 100%;
    }

    .m-lymph h3 {
        font-size: 1.2em;
    }
    .m-lymph li {
        font-size: 1em;
    }
    .mld h3 {
        font-size: 1.2em;
    }
    .mld ul li {
        font-size: 1em;
    }
}

@media screen and (max-width: 778px) {
    .m-lymph, .mld {
        width: 100%;
    }

    .m-lymph h3 {
      font-size: 1.1em;
    }
    .m-lymph li {
        font-size: .9em;
    }
    .pillars {
        flex-direction: column;
        margin-left: 1.5rem;
    }
    .mld h3 {
        font-size: 1.1em;
    }
    .mld ul li {
        font-size: .9em;
    }
}

@media screen and (max-width: 575px) {
    .service-title {
      margin-top: 5rem;
      font-size: 2.1em;
    }
    .img-s-wrapper {
        margin: 0 10px;
    }
    .img-service{
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-position: center;
    }

    .therapy-services {
        margin-top: 1.8rem;
     }

      .m-lymph, .mld {
        width: 70%;
    }

    .m-lymph h3 {
        font-size: 1.1em;
    }
    .m-lymph li {
        font-size: .9em;
    }

    .mld h3 {
        font-size: 1.1em;
        margin-top: 1rem;
    }
    .mld ul li {
        font-size: .9em;
    }
}
@media screen and (max-width: 479px) {
    .img-service{
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        background-position: center;
    }

    .m-lymph, .mld {
        width: 60%;
    }

    .m-lymph h3 {
        font-size: 1em;
    }

    .m-lymph li {
        font-size: .8em;
    }

    .mld h3 {
        font-size: 1em;
    }

    .mld ul li {
        font-size: .8em;
    }

    .pillars {
        margin-left: 0;
    }

    .therapy-services {
      flex-direction: column;
    }
}
